{extend name="index" /}
{block name="title"}课程信息管理{/block}
{block name="content"}
<table class="table table-hover table-bordered">
	<tr class="info">
		<th>序号</th>
		<th>课程名称</th>
		<th>更新时间</th>
		<th>操作</th>
	</tr>
	{volist name="courses" id="_Course"}
	<tr>
		<th>{$_Course->id}</th>
		<th>{$_Course->name}</th>
		<th>{$_Course->update_time}</th>
		<th>
			<a href="{:url('edit?id='.$_Course->id)}" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
			<a href="{:url('delete?id='.$_Course->id)}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
		</th>
	</tr>
	{/volist}
</table>
{/block}
{block name="page"}
{$courses->render()}
{/block}
