<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>编辑班级信息</title>
	<link rel="stylesheet" type="text/css" href="/tp5EduAdmin/public/static/bootstrap/css/bootstrap.min.css">
</head>
<body style="margin:100px 100px;">
	<div class="row">
		<div class="col-md-3">
			<form action="{:url('update')}" method="post">
				<input type="hidden" name="id" value="{$Klass->id}">
				<div class="form-group">	
					<label for="">班级姓名:</label>
					<input type="text" name="name" value="{$Klass->name}" class="form-control">
				</div>
				<div class="form-group">
					<label for="teacher_id">辅导员:</label>
					<select name="teacher_id">
						{volist name="teachers" id="_Teacher"}
						<option value="{$_Teacher->id}" {eq name="_Teacher->id" value="$Klass->teacher_id" }selected{/eq}>{$_Teacher->name}</option>
						{/volist}
					</select>
				</div>
				<button type="submit" class="btn btn-primary">保存</button>
			</form>
		</div>
	</div>
	
</body>
</html>