<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{block name="title"}标题{/block}</title>
	<link rel="stylesheet" type="text/css" href="/tp5EduAdmin/public/static/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
		{literal}
		th,td{
			text-align: center;
		}
		body{
			overflow: hidden;
		}
		
		{/literal}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="nav-header text-right">
							{php}
								$login=new app\index\controller\LoginController;
								$name=$login->getLoginUser();
							{/php}
							<span class="navbar-brand">登入者:{$name}</span>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="{:url('Teacher/index')}">辅导员管理</a></li>
								<li class=""><a href="{:url('Klass/index')}">班级管理</a></li>
								<li class=""><a href="{:url('Student/index')}">学生管理</a></li>
								<li class=""><a href="{:url('Course/index')}">课程管理</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="{:url('Login/logOut')}">注销</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{block name="search"}
				<hr>
				<div class="row">
					<div class="col-md-8">
						<form class="form-inline">
							<div class="form-group">
								<label for="name" class="sr-only">姓名</label>
								<input type="text" name="name" placeholder="name..." id="name" value="{:input('get.name')}" class="form-control">
							</div>
							<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
						</form>
					</div>
					<div class="col-md-4 text-right">
						<a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;新增</a>
					</div>
				</div>
				<hr>
				{/block}
				{block name="content"}{/block}
				<div style="position: fixed;left: 600px;top:90%;">
					{block name="page"}{/block}
				</div>
			</div>
		</div>
	</div>
</body>
</html>